/* START MY CUSTOM STYLES */

.footer-background-style {
  background-image: linear-gradient(
      rgba(25, 39, 67, 0.8),
      rgba(25, 39, 67, 0.8)
    ),
    url(./images/tech_background.jpg);
}

.carousel-caption-style {
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* margin-top: -1000px; */
  margin-top: -300px;
  background-image: linear-gradient(
    rgba(25, 39, 67, 0.8),
    rgba(25, 39, 67, 0.8),
    rgba(25, 39, 67, 0.8)
  );
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  animation-name: carousel-caption-animation;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes carousel-caption-animation {
  0% {
    margin-top: -900px;
  }

  50% {
    margin-top: -800px;
  }

  100% {
    margin-top: -300px;
  }
}

.site-under-maintenance {
  background-image: url(./images/svg/Polygon-Luminary.svg);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.typewriter {
  overflow: hidden; /* Ensures the text is not visible until the animation starts */
  border-right: 0.15em solid orange; /* Creates the blinking cursor */
  white-space: nowrap; /* Ensures the text is not broken into multiple lines */
  margin: 0 auto; /* Centers the text in the container */
  letter-spacing: 0.15em; /* Adds space between letters for a more realistic effect */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; /* Combines the typing and blinking animations */
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* END MY CUSTOM STYLES */
